# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.*
.venv/
venv/
env/
ENV/
Pipfile.lock
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# Streamlit cache and logs
.streamlit/config.toml
.streamlit/secrets.toml
.streamlit/cache/
.streamlit/logs/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# OS trash
*.swp
Thumbs.db
